form {
  font-size: 32px;
}

.formGrid {
  display: grid;
  margin-bottom: 1em;
  margin-top: 1em;
}

.inputCurrency {
  grid-row: 1
}

.amountWarning {
  grid-row: 2;
  color : crimson;
}

.currencyWarning {
  grid-row: 5;
  color: crimson;
}

.inputFromCurrency {
  grid-column: 1;
  grid-row: 3;
  margin-bottom: 1em;
}

.inputToCurrency {
  grid-column: 1;
  grid-row: 4;
}

.inputSubmit {
  grid-column: 1/2;
  grid-row: 6;
  font-size: 32px;
  color: #333;
  width: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}